/* Intro Section */

.intro {
    height: 100vh;
    width: 100%;
    background-image: url(../images/backgroundImage.jpg);
    /* Photo by Joanna Kosinska on Unsplash */
    background-size: 100% 100%;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.mainHeading{
    margin-top: 20%;
}
.name {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #00adb5;
}

/* About Section */

.aboutHeading {
    text-align: center;
    margin: 2%;
    font-family: 'Open Sans', sans-serif;
    text-decoration: underline;
    letter-spacing: 3px;
}

.about p {
    text-align: center;
}

/* Projects Section */

#projects {
    background-color: #eeeeee;
}

.projects {
    text-align: center;
    margin: 2%;
    font-family: 'Open Sans', sans-serif;
    text-decoration: underline;
    letter-spacing: 3px;
}

.projectImage {
    width: 100%;
    height: 100%;
    position: relative;
}

.overlay-text{
    position: absolute;
    left: 0;
    /* top: 0; */
    right: 0;
    bottom: 0;
    margin: auto;
    width: max-content;
    /* height: max-content; */
    text-decoration: underline;
    color: #222831;
 }

 .projectsContainer {
     margin-left: auto;
     margin-right: auto;
 }