/* Intro Section */

.intro {
    height: 100vh;
    width: 100%;
    background-image: url(../images/backgroundImage.jpg);
    /* Photo by Joanna Kosinska on Unsplash */
    background-size: 100% 100%;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.mainHeading{
    margin-top: 20%;
}
.name {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #00adb5;
}

/* About Section */

.aboutHeading {
    text-align: center;
    margin: 2%;
    font-family: 'Open Sans', sans-serif;
    text-decoration: underline;
    letter-spacing: 3px;
}

.about p {
    text-align: center;
}